[submodule "veld_executable_18_clscorgi"]
	path = veld_executable_18_clscorgi
	url = https://github.com/acdh-oeaw/veld_executable_18_clscorgi.git
[submodule "veld_data_15_eltec_udpipe_conllu"]
	path = veld_data_15_eltec_udpipe_conllu
	url = https://gitlab.oeaw.ac.at/acdh-ch/nlp/veld_data_15_eltec_udpipe_conllu.git
